<div>
  <form method="post">
    <label for="tweet">Delete tweet.</label>
    <br>
    <textarea name="content" id="tweet" cols="30" rows="10" maxlength="140" disabled>{{content}}</textarea>
    <br>
    <input type="submit" value="Delete">
  </form>
</div>