<div>
  <form method="post">
    <label for="tweet">Edit tweet.</label>
    <br>
    <textarea name="content" id="tweet" cols="30" rows="10" maxlength="140" required>{{content}}</textarea>
    <br>
    <input type="submit">
  </form>
</div>