<div>
  <form method="post">
    <label for="post">Delete Post.</label>
    <br>
    <textarea name="description" id="post" cols="30" rows="2" maxlength="140" disabled>{{description}}</textarea>
    <br>
    <img style="width: 50%" src="{{image}}" alt="{{description}}">
    <br>
    <input type="submit" value="Delete">
  </form>
</div>