<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/content/styles/site.min.css">
  <link rel='shortcut icon' type='image/x-icon' href='/content/images/favicon.ico' />
  <title>ShopStop</title>
</head>

<body>
  <header>
    <nav class="nav">
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/product/add">Add Product</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form class="form center-form" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="input-field">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" type="text" class="input-field"></textarea>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" step="0.01" class="input-field">
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input id="image" name="image" class="input-field" type="file" accept=".png, .jpg, .jpeg">
      </div>

      <div class="form-group">
        <input type="submit" class="btn form-btn" value="Add">
      </div>
    </form>

  </main>

  <footer>
    <p>&copy; ShopStop</p>
  </footer>

</body>

</html>