<form method="post">
  <label for="title">Post Title</label>
  <br>
  <input type="text" id="title" name="title" required>
  <br>
  <label for="description">Post Description</label>
  <br>
  <textarea name="description" id="description" cols="21" rows="5" required></textarea>
  <br>
  <br>
  <label for="selection">Select Category</label>
  <br>
  <select style="width: 170px;" id="selection" name="category" required>
    {{#each categories}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br>
  <br>
  <input type="submit" value="Add Post">
</form>