<div style="text-align: center">
  <h1>Really delete?</h1>
  <form id="delete-form" method="POST"></form>
  <a style="font-size: 2rem; text-decoration: none;" href="javascript:document.getElementById('delete-form').submit()"><strong>Delete</strong></a>
</div>