<form method="post">
  <label for="title">Post Title</label>
  <br>
  <input type="text" id="title" name="title" required value="{{title}}">
  <br>
  <label for="description">Post Description</label>
  <br>
  <textarea name="description" id="description" required>{{description}}</textarea>
  <br>
  <input type="submit" value="Add Post">
</form>