<div style="text-align: center;">
  <form method="post">
    <label for="categoryName">New category name</label>
    <br>
    <input type="text" name="name" id="categoryName" required>
    <input type="submit">
  </form>
</div>