<div style="text-align: center;">
  <ol>
    {{#each categories}}
      <li>
        <a href="/list/{{this.name}}">
          <h2>{{this.name}}</h2>
        </a>
      </li>
    {{/each}}
  </ol>
</div>